.form-field {
  margin-bottom: 16px;

  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 4px;
}

input {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-input {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 4px;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-button {
  order: 1;
}

.right-button {
  order: 2;
  margin-left: auto;
}

.full-width {
  width: 100%;
  margin-top: 20px; /* Adds 20px distance from the top */
}

.mat-dialog-content .full-width:first-child {
  margin-top: 0; /* Removes the margin from the first input field */
}
